<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    
    <!-- Mostrar los posts aquí -->
    <ul>
        <% posts.forEach(function(post) { %>
          <div>
            <ul>
            <li><b>id:</b> <%= post.id %></li>
              <p>Titulo: <%= post.title %></p>
              <p>Descripción: <%= post.description %></p>
              <p>Author: <%= post.author %></p>
        </ul>
        </div>
        <br>
        <% }); %>
      </ul>
</body>
</html>